<div class="flex">
    <div class="header">
        <h1>Ayren's page</h1>
    </div>
    <div class ="Nav">
        <a href = "">back home</a>
    <a href="../Thomas">Thomas's Page</a>
    <a href="../Joshua">Joshua's Page</a>
    </div>
    <div class="button">
        <button class = 'button' (click) = 'Buttonpress()'>This is a button</button>
    </div>
    <div class="text">
        <p>This is a useless page, but it has a button :3</p>
    </div>
    <div class="clicks">
        <p>you have clicked the button {{ ButtonClicks }} times</p>
    </div>
    <div class="hiddentext">
        <p>{{ hiddentext }}</p>
    </div>
</div>