<h1>Game development (and other fun ways to torture yourself)</h1>

<p>Hooooo boy, gamedev is hard. Like. Really hard. Like, ASTRONOMICALLY harder than pretty much every other art form I can think of. I'm gonna dedicate my page to telling you about the various reasons why.</p>

<h2>THE HATS</h2>

<p>This ain't no team fortress two, but game development has a lot of hats. By that, I mean that it has a lot of aspects that you need to work with. For example:</p>
<ul>
	<li>
		Art
	</li>
	<li>
		Programming
	</li>
	<li>
		Sound design (haven't even started on this one yet) (kill me)
	</li>
	<li>
		Actual design of the game
	</li>
	<li>
		UI Design
	</li>
</ul>
<p>
	And the list goes on. If you're a AAA studio, you don't need to worry about this as much, since you can delegate. Not so if you happen to be an auteur (like myself). You've gotta do every single aspect of the game on your lonesome, meaning you have to be good at <i>all of the above</i>. It's a nightmare, trust me. And with all these aspects, it's bound to become...
</p>
<h2>THE SQUARE CUBE LAW (and how it applies to creativity, I guess)</h2>
<p>...Really, really big. Games are bound to be bigger than other pieces of art, taking no less than a day at the absolute simplest end, with heavy crunch time. This means you need to stick with it for longer to see it come to fruition. It ALSO means that the project ends up as:</p>
<h2>AN EXTREMELY POORLY MAINTAINED ITALIAN RESTAURANT</h2>
<p>A spaghettified mess. If you don't compartmentalize the code well enough (and let's be honest, even if you do), your progress will slow to an absolute <i>crawl</i>. This happens with all coding projects, I suppose, but still. Refactoring is important, my friend.</p>
<h2>A SURVIVAL UNTIL TOMORROW GUIDE</h2>
<p>Don't be afraid to take breaks, mostly. It's a tough job. A "break" can mean working on something else too, so yeah. Also, get out of tutorial hell ASAP by building off of what others have done (and by reading the docs).</p>